<form action="">
    <label for="Do">Hacer:</label>
 
    <select name="P1" id="Do">

        <option>Correr.</option>
        <option>Saltar.</option>
        <option>Jugar.</option>

    </select>

</form>

<br>

<form action="">

    <label for="while">Mientras:</label>
 
    <select name="P2" id="while">

        <option>Pase una hora</option>
        <option>Esta lista la comida</option>
        <option>Se hace la hora de dormir</option>

    </select>

</form>
 
<br>

<input type="submit">