<form action="">
    <label for="if_else">Si: </label>
 
    <select name="P1" id="if_else">

        <option> {Es Pedrito}</option>
        <option> {Es Juanito}</option>
        <option> {Es Rodolfito}</option>

    </select>

</form>

<br>

<form action="">

    <label for="Entonces">Entonces: </label>
 
    <select name="P2" id="Entonces">

        <option>{Comer}</option>
        <option>{Dormir}</option>
        <option>{Tomar}</option>

    </select>

</form>
 
<br>

<input type="submit">